/* VARIABLES ============================================================ */
//genesis
$baseline: 8px;

//spacing
$b4: $baseline * 0.5; //4px
$b8: $baseline * 1; //8px
$b16: $baseline * 2; //16px
$b24: $baseline * 3; //24px
$b32: $baseline * 4; //32px
$b40: $baseline * 5; //40px
$b48: $baseline * 6; //48px
$b56: $baseline * 7; //56px
$b64: $baseline * 8; //64px
$b80: $baseline * 10; //80px
$b96: $baseline * 12; //96px
$b128: $baseline * 16; //128px
$b192: $baseline * 24; //192px
