/* VARIABLES ============================================================ */
//primary   HSB(260, 60, 100);
$color-primary: #9966ff; //theme
$color-primary--hover: #8257d9; //theme
$color-primary--gradient: linear-gradient(
	135deg,
	rgb(102, 153, 255),
	rgb(179, 102, 255)
);

//theme
$color-primary--1: #6699ff; //theme
$color-primary--2: #6680ff; //theme
$color-primary--3: #6666ff; //theme
$color-primary--4: #7f66ff; //theme
$color-primary--5: $color-primary;
$color-primary--6: #b366ff; //theme

//messaging
$color-success: #52cc8f;
$color-success--hover: #42a674;
$color-danger: #e65c5c;
$color-danger--hover: #bf4d4d;
$color-info: #5cace6;
$color-info--hover: #4d8fbf;

//base
$color-base: #555555; //theme
$color-base--064: rgba(85, 85, 85, 0.64); //theme
$color-base--012: rgba(85, 85, 85, 0.12); //theme
$color-theme: #ffffff; //theme
$color-theme--096: rgba(255, 255, 255, 0.96); //theme

//border (border:)
$setting-border: 1px solid $color-base--012; //theme

//shadow (box-shadow:)
$setting-shadow--soft: 0 2px 4px rgba(0, 0, 0, 0.12),
	0 1px 3px rgba(0, 0, 0, 0.24);
$setting-shadow--strong: 0 10px 20px rgba(0, 0, 0, 0.19),
	0 5px 10px rgba(0, 0, 0, 0.24);

/* CLASSES GENERAL ============================================================ */
.color-base {
	color: $color-base;
}

.color-base--064 {
	color: $color-base--064;
}

.color-danger {
	color: $color-danger;
}

.color-white {
	color: #ffffff;
}

.overlay {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}

// can by used with .overlay or on their own
.background-theme--096 {
	background-color: $color-theme--096;
}

.background-black {
	background-color: rgba(0, 0, 0, 1);
}
