/* RESET ============================================================ */
//<select> are for forms / dropdowns are for navs
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select,
.field {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
}

/* FIELDS ============================================================ */
.field {
	color: $color-base;
	background-color: $color-base--012;
	border-radius: $setting-radius--soft;
	transition: $setting-transition;
	height: $b56;
	padding-left: $b16;
	margin-bottom: $b16;
	text-align: left;
	box-sizing: border-box;
	outline: 0;
	width: 100%;
	min-width: 240px;
	box-shadow: none;
	border: $setting-border; // 1px solid transparent;

	&:hover {
		border: 1px solid $color-primary--hover;
	}

	&:focus {
		border: 1px solid $color-primary;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: $setting-opacity--soft;
		color: $color-base--064;
		border: none;

		&:hover {
			border: none;
		}
	}
}

//error
.field.field-error {
	border: 1px solid $color-danger;
}

.field.field-error:hover {
	border: 1px solid $color-danger;
}

.field.field-error:focus {
	border: 1px solid $color-danger;
}

//inline
.field.field-inline {
	display: block;
	margin-right: 0;
	margin-left: 0;
}

//button
.field.field-button {
	display: inline;
	width: calc(100% - 96px);
	min-width: calc(100% - 96px);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.field.field-button + button {
	display: inline;
	float: right;
	min-width: $b96;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* DETAILS ============================================================ */
legend {
	color: $color-base--064;
	display: block;
	margin-bottom: $b16;
}

label {
	//use * for required
	//use label when 4 fields or more
	color: $color-base--064;
	display: block;
	margin-bottom: $b4;
	margin-right: $b16;
}

input:disabled:has(+ label) {
	cursor: not-allowed;
	opacity: $setting-opacity--soft;
	color: $color-base--064;
}

textarea.field {
	padding-top: $b8;
	padding-bottom: $b8;
	min-height: $b192;
}

select {
	background-image: url("../assets/icons/icon-caret.svg");
	background-size: 12px 8px;
	background-repeat: no-repeat;
}

select.field {
	cursor: pointer;
	background-position: calc(100% - 16px) center;
	padding-right: $b32;
}

select.link {
	min-width: calc(100% + 22px);
	background-position: right center;
	background-color: transparent;

	&:hover,
	&:focus {
		outline: none;
	}
}

/* RADIO AND CHECKBOXES ============================================================ */
label.radio,
label.checkbox {
	display: inline-block;
	position: relative;
	padding-left: $b48;
	margin-bottom: $b16;
	margin-right: $b32;
	cursor: pointer;
	// transition: $setting-transition;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: $color-base;

	&:hover {
		color: $color-primary--hover;
		text-decoration: underline;

		span {
			border: 1px solid $color-primary--hover;
		}
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	input:checked ~ span {
		&:after {
			display: block;
		}
	}

	span {
		position: absolute;
		top: 0;
		left: 0;
		height: $b32;
		width: $b32;
		background-color: $color-base--012;
		border: $setting-border; // 1px solid transparent;
	}
}

// old disabled
// label.radio input:disabled~span,
// label.checkbox input:disabled~span {
//     cursor: not-allowed;
//     opacity: $setting-opacity--soft;
//     color: $color-base--064;

//     &:hover {
//         border: none;
//     }
// }

// label.radio:has(> input:disabled),
// label.checkbox:has(> input:disabled) {
//     cursor: not-allowed;
//     opacity: $setting-opacity--soft;
//     color: $color-base--064;

//     &:hover {
//         cursor: not-allowed;
//         opacity: $setting-opacity--soft;
//         color: $color-base--064;
//     }
// }

label.radio-disabled,
label.checkbox-disabled {
	cursor: not-allowed;
	opacity: $setting-opacity--soft;
	color: $color-base--064;

	&:hover {
		color: $color-base--064;
		text-decoration: none;
	}

	input:hover ~ span {
		border: $setting-border;
	}
}

// radio
label.radio {
	span {
		border-radius: $setting-radius--round;

		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 9px;
			left: 9px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: $color-primary;
		}
	}
}

// checkbox
label.checkbox {
	span {
		border-radius: $setting-radius--soft;

		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 5px;
			left: 11px;
			width: 7px;
			height: 14px;
			border: solid $color-primary;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}

/* RESPONSIVE ============================================================ */
// tablet
@media (min-width: 500px) {
	.field.field-inline {
		display: inline-block;
		width: calc(50% - 11px);
		min-width: calc(50% - 11px);
		margin-left: 0;
		margin-right: $b8;

		&:last-of-type {
			margin-left: $b8;
			margin-right: 0;
		}
	}

	//button
	.field.field-button {
		width: calc(100% - 160px);
		min-width: calc(100% - 160px);
	}

	.field.field-button + button {
		min-width: 160px;
	}
}

/* FIELD ICONS ============================================================ */
.field.field-icon-glass,
.field.field-icon-location,
.field.field-icon-email,
.field.field-icon-password,
.field.field-icon-message {
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 40px;
}

.field.field-icon-glass {
	background-image: url("../assets/icons/icon-glass.svg");
}

.field.field-icon-location {
	background-image: url("../assets/icons/icon-location.svg");
}

.field.field-icon-email {
	background-image: url("../assets/icons/icon-email.svg");
}

.field.field-icon-password {
	background-image: url("../assets/icons/icon-password.svg");
}

.field.field-icon-message {
	background-image: url("../assets/icons/icon-message.svg");
	background-position: 10px 16px;
}
